/* CSS Document */
.wrapper{
  position: relative;
}

.firstDiv{
  position: absolute;
}
.secondDiv{
  position: absolute;
}

nav#mainNav {

    display: inline-block;

    margin: 20px;

    padding: 20px;

    border: 1px solid #4800ff;

}
#video {
 position: header;
 bottom: 0px;
 right: 0px;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -1000;
 overflow: hidden;
 }
 footer {
           position: relative;
           /* Altura total del footer en px con valor negativo */
           margin-top: -50px;
           /* Altura del footer en px. Se han restado los 5px del margen
              superior mas los 5px del margen inferior
           */
           height: 40px;
           padding:5px 0px;
           clear: both;
           background: #286af0;
           text-align: center;
           color: #fff;
 }
form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

a {
    color:#0000FF;
    text-decoration:none; }

    a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:50px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

    #loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: calc(100% - 4rem);
}
.footer {
  height: 4rem;
  background-color: #e2e2e2
}
.izquierda{
  float: left;
  margin-right: 20px;

}
